{% extends 'base.html' %}
{% block titile %}About{% endblock titile %}
{% block body %}
<marquee>
   <h4 class="text-danger ">Contact with social media</h4>
</marquee>

<div class="container text-center">
    <a href="https://www.facebook.com/PankajTrsRewa2" target="_blank" style="text-decoration: none; color: black;">Facebook
        <img src="../static/image/fb.png" alt=".." height="100px";></a>
        <a href="https://www.instagram.com/pankaj_trs_rewa/" target="_blank" style="text-decoration: none; color: black;">Instagram
        <img src="../static/image/insta.png" alt=".." height="100px";></a>
</div>


{% endblock body %} 
