
.booking-status {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.Pending {
  color: #d29e01;
}

.Confirm {
  color: #75d201;
}

.Rejected {
  color: #d20101;
}

.Cancel {
  color: #d20101bd;
}

.select2-selection--single{
  height: 37px !important;
}
.select2-selection__rendered{
line-height: 34px !important;
text-align:center;
}
