<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Photo Studio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photoshoot">Photo Shoot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="/booknow">Book Now</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="btn btn-outline-light mx-2" href="/admin">Login Admin</a>
                </li> -->

            </ul>
            
            <form class="d-flex">
                <a class="btn btn-outline-light m-lg-1 mb-2" href="mailto:pankaj.pv70@gmail.com">Contact Us</a>
            </form>
            {%if request.session.username %}
              <!-- <li class="nav-item"> -->
              <a href="/account/logout" class="btn btn-outline-warning">Logout</a>
               <p class="text-light m-3 ">Welcome : {{request.session.username}}</p>
              <!-- <li/> -->
              <!-- <li> -->
              <!-- </li> -->
            {% endif %}
        </div>
    </div>
</nav>
